*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.outer{
    padding-top: 6%;
}

.infoBlock{
    width: 100%;
    margin-left: 50px;
    border-left: 4px solid  var(--main-color-hover);
}

h1 {
    margin: 15px 25px;

}

.details {
    width: 100%;
    display: flex;
    justify-content: start;
}

.detailsItem {
    width: 30%;
    margin: 15px 25px;
}

.additional{
    width: 100%;
    display: flex;
    justify-content: start;
}

.additional button {
    border: none;
    text-align: center;
    font-size: 16px;
    margin: 25px;
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--tetriary-text-color);
    background-color: var(--main-color-hover);
    transition: 0.1s ease-in;
    cursor: pointer;
}