.navWrapper {
    border-right: 1px solid rebeccapurple;
    color: blue;
    width: 25%;
    height: 100%;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}


.avatar {
    width: 47px;
    height: 60px;
}