.profile__skills {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main__skills {
}

.additional__skills {
}

@media (max-width: 640px) {
    .skillList {
        flex-wrap: wrap;
    }

    .profile__skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
}