*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    --work-color: rgb(218, 130, 101);
    color: var(--main-text-color);
}

.outer{
    padding-top: 81px;
    padding-left: 85px;
    padding-right: 85px;
}

@media (max-width: 640px) {
    .outer{
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 20px;
    }
}