.outer {
    padding-top: 81px;
    padding-left: 85px;
    padding-right: 85px;
    display: flex;
}

.skills__inner {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media (max-width: 640px) {
    .outer{
        padding: 20px;
    }
}