*{
    font-family: 'Lato', sans-serif;
    box-sizing: content-box;
    --main-text-color: rgb(66, 66, 66);
    --secondary-text-color: rgb(103, 103, 103);
    --tetriary-text-color: rgb(255, 255, 255);
    --hover-text-color: rgb(15, 21, 33);
    --main-color-hover: rgb(99, 171, 150);
    color: var(--main-text-color);
}

.outer{
    padding-top: 81px;
    padding-left: 85px;
}

.infoBlock{
    width: 100%;
    padding-left: 15px;
    border-left: 4px solid  var(--main-color-hover);
}

h1 {
    margin: 15px 25px;

}

.details {
    width: 100%;
    display: flex;
    justify-content: start;
}

.detailsItem {
    width: 30%;
    margin: 15px 25px;
}

.additional{
    width: 100%;
    display: flex;
    justify-content: start;
}

.additional button {
    border: none;
    text-align: center;
    font-size: 16px;
    margin: 25px;
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--tetriary-text-color);
    background-color: var(--main-color-hover);
    transition: 0.1s ease-in;
    cursor: pointer;
}