*{
    font-family: 'Lato', sans-serif;
    box-sizing: content-box;
    --main-text-color: rgb(66, 66, 66);
    --secondary-text-color: rgb(103, 103, 103);
    --tetriary-text-color: rgb(255, 255, 255);
    --hover-text-color: rgb(15, 21, 33);
    --main-color-hover: rgba(36, 175, 156, 0.91);
    --border-color: rgba(165, 165, 165, 0.5);
    color: var(--main-text-color);
}

.outer{
    padding-top: 81px;
    padding-left: 85px;
    padding-right: 85px;
}

@media (max-width: 640px) {
    .outer{
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 20px;
    }
}
